<div class="container w-2/3 w-1/2 px-4 py-4 overflow-x-auto mt-4">
  <h2 class="text-3xl font-semibold leading-normal mt-0 mb-5 text-gray-800" >Add Product</h2>
    <form [formGroup]="frm" (ngSubmit)="onPost()">
      <input type="hidden" formControlName="id">
      <div class="mb-6">
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product</label>
        <input type="text" formControlName="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <p *ngIf="f['name'].invalid && (f['name'].dirty ||f['name'].touched )" class="mt-2 text-sm text-red-600 dark:text-red-500">Please fill this field</p>
      </div>

      <div class="mb-6">
        <label for="categoryId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Category</label>
        <select type="text"  formControlName="categoryId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
           <option value="">--select--</option>
           <option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</option>
        </select>
          <p *ngIf="f['categoryId'].invalid && (f['categoryId'].dirty ||f['categoryId'].touched )" class="mt-2 text-sm text-red-600 dark:text-red-500">Please fill this field</p>
      </div>

      <div class="mb-6">
        <label for="price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Price</label>
        <input type="text" formControlName="price" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <p *ngIf="f['price'].invalid && (f['price'].dirty ||f['price'].touched )" class="mt-2 text-sm text-red-600 dark:text-red-500">Please fill this field</p>
      </div>

      <div *ngIf="status" class="mb-6">
        {{status.message}}
      </div>
      <button type="submit" [disabled]="frm.invalid" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
      <button type="button" routerLink="/products" class="text-white ml-2 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">All</button>
    </form>
  </div>

  